<div class="hero-unit">
	<form method="POST" class="form-hotizontal">
		{% csrf_token %}
		{% if form_pwd.non_field_errors %}
		    <div class="alert alert-error">
		        {{ form_pwd.non_field_errors|join:", " }}
		    </div>
		{% endif %}
		{% for field in form_pwd %}
		    <div class="control-group{% if field.errors %} error{% endif %}">
		        <div class="control-label">
		            {{ field.label_tag }}
		        </div>
		        <div class="controls">
		            {{ field }}
		            {% if field.errors %}
		                <span class="help-block">
		                    {{ field.errors|join:", " }}
		                </span>
		            {% endif %}
		        </div>
		    </div>
		{% endfor %}
		<div class="form_pwd-actions">
			<button type="submit" class="btn btn-success" style="float: right; margin-left: 2%">Enviar</button>
		</div>
	</form>
</div>